---
layout: default
navName: blog
---
<div class="row">
	<div class="col-md-10" style="border-right:1px solid #777">
		{{ content }}
	</div>
	<div class="col-md-2 sidebar">
		<img src="/img/aboutMePhoto.png" style="max-width:100%">
		
		<div id="categories-lbl">Categories</div>
	
		<div class="categories">
			<a href="/blogAbout">
     			<img src="/img/about.png" alt="">
    		</a>
    		<a href="/cakesCupcakes">
     			<img src="/img/cakes-cupcakes.png" alt="">
    		</a>
		</div>	
	</div>
</div>
