---
layout: default
navName: blog
---
<div class="row">
	<div class="col-md-9" style="border-right:1px solid #777">
		{{ content }}
	</div>
	<div class="col-md-3 sidebar">
		<img src="{{site.baseurl}}/img/Sidebar/sidebarphoto.jpg" style="max-width:85%" nopin="nopin" class="imageCenter" id="aboutMeBlogImg">

        <div id="socialMediaRow" style="text-align: center; margin-bottom: 10px">
            <a href="https://www.facebook.com/designsolutionsbyb">
                <img src="{{site.baseurl}}/img/watercolor_buttons/facebook.jpg">
            </a>
            <a href="https://instagram.com/brittniericson/">
                <img src="{{site.baseurl}}/img/watercolor_buttons/instagram.jpg">
            </a>
            <a href="https://www.pinterest.com/b_hammond90/">
                <img src="{{site.baseurl}}/img/watercolor_buttons/pintrest.jpg">
            </a>
            <a href="https://plus.google.com/110174344170423227137">
                <img src="{{site.baseurl}}/img/watercolor_buttons/google.jpg">
            </a>
            <a href="https://www.bloglovin.com/people/brittniericson-12406215">
                <img src="{{site.baseurl}}/img/watercolor_buttons/bloglovin.jpg">
            </a>
             <a href="mailto:brittni.ericson@gmail.com">
                <img src="{{site.baseurl}}/img/watercolor_buttons/mail.jpg">
            </a>
        </div>

        <div class="caslon" style="text-align:center; margin-bottom: 10px">
        All great things start from a tiny spark of inspiration and I'm here to share all of my inspiration with you!
        </div>
		
		<a href="{{site.baseurl}}/about">
     		<img src="{{site.baseurl}}/img/watercolor_buttons/about-me.jpg" alt="" class="imageCenter" style="max-width: 80%; margin-bottom:15px" nopin="nopin">
    	</a>

    
<form name="cse" id="searchbox_demo" action="http://www.designsolutionsbyb.com">
  <input type="hidden" name="cref" value="" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="" />
  <input name="q" type="text" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
<script type="text/javascript" src="https%3A%2F%2Fwww.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>

<div style="text-align: center; margin-bottom: 10px">
  <div class="fb-follow" data-href="https://www.facebook.com/designsolutionsbyb" data-colorscheme="light" data-layout="button" data-show-faces="false"></div>

  <div class="fb-like" data-href="https://www.facebook.com/designsolutionsbyb" data-layout="button" data-colorscheme="light"></div>
</div>                

		<div id="categories-lbl">Categories</div>
	
		<div class="categories">
    		<a href="{{site.baseurl}}/cakes">
     			<img src="{{site.baseurl}}/img/watercolor_buttons/cakes-cupcakes.jpg" alt="" nopin="nopin" class="imageCenter" style="max-width: 80%">
    		</a>
    		<a href="{{site.baseurl}}/events">
     			<img src="{{site.baseurl}}/img/watercolor_buttons/parties-and-events.jpg" alt="" nopin="nopin" class="imageCenter" style="max-width: 80%">
     		</a>
     		<a href="{{site.baseurl}}/graph">
     			<img src="{{site.baseurl}}/img/watercolor_buttons/graphics.jpg" alt="" nopin="nopin" class="imageCenter" style="max-width: 80%">
     		</a>
     		<a href="{{site.baseurl}}/interior">
     			<img src="{{site.baseurl}}/img/watercolor_buttons/interior-design.jpg" alt="" nopin="nopin" class="imageCenter" style="max-width: 80%">
     		</a>
     		<a href="{{site.baseurl}}/photo">
     			<img src="{{site.baseurl}}/img/watercolor_buttons/photography.jpg" alt="" nopin="nopin" class="imageCenter" style="max-width: 80%">
    		</a>
		</div>	
	</div>
</div>
