---
layout: default
navName: portfolio
---
<div class="row">
	<div class="col-md-12">
	{% for image in page.image %}
  {% assign loopindex = forloop.index | modulo: 3 %}
  {% if loopindex == 1 %}
    <div class="row">
		<div class="col-md-4" style="padding:20px">
      	<a href="{{site.baseurl}}{{ page.image[forloop.index0] }}" data-lightbox="{{ page.image-alt[forloop.index0] }}">
      		<img src="{{site.baseurl}}{{ page.image[forloop.index0] }}" style="max-width: 100%">
      	</a>
      </div>
  {% elsif loopindex == 2 %}
  		<div class="col-md-4" style="padding:20px">
      	<a href="{{site.baseurl}}{{ page.image[forloop.index0] }}" data-lightbox="{{ page.image-alt[forloop.index0] }}">
      		<img src="{{site.baseurl}}{{ page.image[forloop.index0] }}" style="max-width: 100%">
      	</a>
      </div>
  {% else %}
    <div class="col-md-4" style="padding:20px">
        <a href="{{site.baseurl}}{{ page.image[forloop.index0] }}" data-lightbox="{{ page.image-alt[forloop.index0] }}">
          <img src="{{site.baseurl}}{{ page.image[forloop.index0] }}" style="max-width: 100%">
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
	</div>
</div>
